/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

#start-screen {
    background: url('start-bg.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-container {
    background-color: #cfe2f3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-map {
    background: url('assets/map-bg.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.npc {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#pc, #mailbox {
    position: absolute;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

#trainer img {
    width: 150px;
}
